@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>HIT3311 Assignment 1</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    
    <body>
        <div class="container-fluid">
        <h1>Assignment 1</h1>
        @content
        <footer>
        <p>build version: b8f3b6e</p>
        <p>last modified: 31/08/2012</p>
        <p>by 6555985 and 6595979</p>
        </footer>
        </div>
    </body>
</html>
